.cv-details {
  border: 0.1rem solid #bebfc5;
  border-radius: var(--border-radius);
  min-width: 30%;
  max-height: fit-content;
  overflow-y: auto;
}

.cv-details h2 {
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid #bebfc5;
}
