.cv-section {
  border: none;
  border-bottom: 0.1rem solid #bebfc5;
}

.cv-section:last-child {
  border: none;
}

button {
  appearance: none;
  border: none;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.cv-section img {
  height: 1.5rem;
}

.cv-section p {
  font-size: 1.1rem;
}

.cv-section svg {
  transition: transform 250ms ease-in-out;
  margin-left: auto;
}

.cv-section svg.is-toggled {
  transform: rotate(180deg);
}
